body {
  height: 70rem;
  background-color: green;
}
.wrap {
  width: 20rem;
  height: 33rem;
  margin: auto;
  margin-top: 10%;
  padding-top: 1%;
  border-radius: 10pt;
  box-shadow: 1rem 1rem rgb(8, 92, 8);
  background-color: rgb(128, 128, 128);
}
.title {
  margin-top: 2%;
  text-align: center;
  margin: auto;
}
.div_btn {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.buttonRefresh {
  height: 2rem;
  border-radius: 3pt;
  background-color: red;
  color: white;
  cursor: pointer;
}
.buttonRefresh:hover {
  background: rgb(53, 16, 187);
}
.card {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 5pt;
  background-color: white;
}

#div_Number1 {
  padding-left: 5%;
  height: 33%;
  font-size: 450%;
}
.div_Icon {
  height: 32%;
  text-align: center;
  font-size: 500%;
  padding-top: 10%;
}
#div_Number2 {
  height: 32%;
  text-align: right;
  padding-right: 5%;
  padding-top: 15%;
  font-size: 450%;
}
.red {
  color: #ff0000;
}

#yugi {
  position: absolute;
  padding-left: 0.6rem;
  margin-top: 5rem;
  height: 27rem;
  animation: slide-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150rem);
  }
}

.select {
  display: flex;

  width: 100%;

  margin-top: 1rem;
  display: block;
}
select {
  width: 3rem;
  display: flex;
  margin: auto;
}
#buttonselect {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  border-radius: 3pt;
  background-color: red;
  color: white;
  cursor: pointer;
}
